

<h1>EDIT BOOKING</h1>
<%= form_with(model:@booking,local:true) do |f| %>


	<p>	
		<%= f.label :startDate %> </br>
		<%= f.text_field :startDate %>

	</p>

	<p>
		<%= f.label :endDate %> </br>
		<%= f.text_field :endDate %>
	</p>
	<p>
		<%= f.label :status %> </br>
		<%= f.text_field :status %>
	</p>
	<p>
		<%= f.label :price %> </br>
		<%= f.text_field :price %>
	</p>

	

	<p>
		<%= f.submit %>
	</p>

<% end %>