<h1>Past Bookings</h1>


<table class="table table-dark">
	<thead>
		<tr>
			<th>startDate</th>
			<th>endDate</th>
			<th colspan="2">status&nbsp;&nbsp;</th>
			<th colspan="2">Price</th>
			<th colspan="2">Action</th>
		</tr>
	</thead>
	<tbody>
<% @bookings.each do |booking|%>
	<%if booking.endDate <DateTime.now %>
		<tr>
			<td><%=booking.startDate%></td>
			<td><%=booking.endDate%>&nbsp;</td>

			<td colspan="2"><%=booking.status%>&nbsp;</td>
			<td><%=booking.price%>&nbsp;&nbsp;</td>

			<td><%= link_to 'Show',booking_path(booking.id)%>&nbsp;</td>
			<td><%= link_to 'Edit',edit_booking_path(booking.id)%>&nbsp;</td>
			<td><%= link_to 'Delete',booking_path(booking.id),data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%></td>
		</tr>
		
	<%end%>
<%end%>

</tbody>
</table>