

<h1>CREATE NEW PROPERTY</h1>
<%= form_with(model:@property,local:true) do |f| %>


	<p>	
		<%= f.label :name %> </br>
		<%= f.text_field :name %>

	</p>

	<p>
		<%= f.label :address %> </br>
		<%= f.text_area :address %>
	</p>
	<p>
		<%= f.label :latitude %> </br>
		<%= f.text_field :latitude %>
	</p>
	<p>
		<%= f.label :longitude %> </br>
		<%= f.text_field :longitude %>
	</p>

	

	<p>
		<%= f.submit %>
	</p>

<% end %>